<section class="section white nopadbot">
  <div class="container-full">
    <div class="general-title text-center">
      <h4>From Our Gallery</h4>
      <hr>
      <p class="lead">Listed below our awesome vets and clinic photos!</p>
    </div><!-- end general title -->

    <div class="text-center clearfix">
      <nav class="portfolio-filter">
        <ul>
          <li><a href="#" data-filter="*"><i class="fa fa-filter"></i> All</a></li>
          <li><a href="#" data-filter=".cat1">Vets</a></li>
          <li><a href="#" data-filter=".cat2">Pets</a></li>
          <li><a href="#" data-filter=".cat3">Clinics</a></li>
        </ul>
      </nav>
    </div><!-- end text-center -->

    <div id="fourcol" class="portfolio isotope" style="position: relative; overflow: hidden; height: 606px;">
      <div class="pitem entry item-w1 item-h2 cat1 isotope-item" style="width: 269px; height: 533px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
<!--        <img src="upload/masonry_01.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_01.jpg", alt: '', class: 'img-responsive') %>
        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_01.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w2 item-h1 cat2 isotope-item" style="width: 538px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(269px, 0px, 0px);">
<!--        <img src="upload/masonry_02.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_02.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_02.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h2 cat2 isotope-item" style="width: 269px; height: 533px; position: absolute; left: 0px; top: 0px; transform: translate3d(807px, 0px, 0px);">
<!--        <img src="upload/masonry_03.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_03.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_03.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h1 cat3 isotope-item" style="width: 269px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(1076px, 0px, 0px);">
<!--        <img src="upload/masonry_04.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_04.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_04.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h2 cat1 isotope-item" style="width: 269px; height: 533px; position: absolute; left: 0px; top: 0px; transform: translate3d(807px, 202px, 0px);">
<!--        <img src="upload/masonry_05.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_05.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_01.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h1 cat1 isotope-item" style="width: 269px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(1076px, 202px, 0px);">
<!--        <img src="upload/masonry_06.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_06.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_01.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h1 cat2 isotope-item" style="width: 269px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 404px, 0px);">
<!--        <img src="upload/masonry_07.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_07.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_02.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w2 item-h1 cat2 isotope-item" style="width: 538px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(269px, 404px, 0px);">
<!--        <img src="upload/masonry_08.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_08.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_03.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>

      <div class="pitem entry item-w1 item-h1 cat3 isotope-item" style="width: 269px; height: 264px; position: absolute; left: 0px; top: 0px; transform: translate3d(1076px, 404px, 0px);">
<!--        <img src="upload/masonry_09.jpg" alt="" class="img-responsive">-->
        <%= image_tag("upload/masonry_09.jpg", alt: '', class: 'img-responsive') %>

        <div class="magnifier">
          <div class="buttons">
            <a data-rel="prettyPhoto" href="upload/gallery_04.jpg" class="st" rel="bookmark"><span class="fa fa-search"></span></a>
            <a class="st" rel="bookmark" href="gallery-single.html"><span class="fa fa-link"></span></a>
          </div>
        </div><!-- end magnifier -->
      </div>
    </div><!-- end row -->
  </div><!-- /container -->
</section><!-- end section -->
