<section class="section dark">
  <div class="container">
    <div class="general-title text-center">
      <h4>Our Vets</h4>
      <hr>
      <p class="lead">Listed below our awesome vets</p>
    </div><!-- end general title -->

    <div id="owl-team" class="owl-custom text-center owl-carousel owl-theme owl-loaded">
      <!-- end team_member -->

      <!-- end team_member -->

      <!-- end team_member -->

      <!-- end team_member -->

      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-1170px, 0px, 0px); transition: all 0s ease 0s; width: 3510px;">
          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
                <%= image_tag("upload/team_circle_01.png", class: "img-responsive img-circle", alt: "") %>
                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="#"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="#" class="readmore">Read more</a>
            </div>
          </div>

          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
                <%= image_tag("upload/team_circle_02.png", class: "img-responsive img-circle", alt: "") %>
                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>


          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
                <%= image_tag("upload/team_circle_03.png", class: "img-responsive img-circle", alt: "") %>
                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>

          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
                <%= image_tag("upload/team_circle_04.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>

          <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
                <%= image_tag("upload/team_circle_01.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>

          <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
                <%= image_tag("upload/team_circle_02.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>

          <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
                <%= image_tag("upload/team_circle_03.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
          <div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--            <img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
                <%= image_tag("upload/team_circle_04.png", class: "img-responsive img-circle ", alt: "") %>
                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--            <img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
                <%= image_tag("upload/team_circle_01.png", class: "img-responsive img-circle", alt: "") %>
                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
                <%= image_tag("upload/team_circle_02.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
                <%= image_tag("upload/team_circle_03.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;">
            <div class="owl-featured team-member">
              <div class="entry">
                <!--<img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
                <%= image_tag("upload/team_circle_04.png", class: "img-responsive img-circle", alt: "") %>

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                  </div>
                </div><!-- end magnifier -->
              </div><!-- end entry -->
              <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
              <p>Cras dapibus. Vivamus elementum semper Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae</p>
              <a href="team-single.html" class="readmore">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-controls">
        <div class="owl-nav">
          <div class="owl-prev" style="">
            <i class="fa fa-angle-left"></i>
          </div>

          <div class="owl-next" style="">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>

        <div style="display: none;" class="owl-dots">
        </div>

      </div>
    </div>
  </div>
</section>
