<html style="" class=" js no-touch" lang="en"><!--<![endif]--><!-- Mirrored from templatevisual.com/demo/petvet/vets.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:21:37 GMT -->

<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
<!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('logo.png', alt: '', class: 'loader-site spinner') %>
  </div>
</div>

<div id="wrapper">
  <%= render 'pages/index partials/topbar' %>

  <%= render 'pages/index partials/header' %>

  <section class="section banner p2" >

  </section><!-- end section -->

  <div class="page-title grey">
    <div class="container">
      <div class="title-area pull-left">
        <h2>Our Veterinarians <small>Listed all our awesome Veterinarians</small></h2>
        <div class="bread">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Veterinarians</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
      <div class="search pull-right">
        <form>
          <div class="input-group">
            <input class="form-control" name="s" type="search" placeholder=" Search... ">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->

  <section class="section white">
    <div class="container">
      <div class="row module-wrapper text-center">
        <div class="col-md-3 col-sm-3 team-member">
          <div class="entry">
<!--            <img class="img-responsive" src="upload/vet_01.png" alt="">-->
            <%= image_tag('v1.png', alt: '', class: 'img-responsive') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Dr. Arslan Munir <span>|</span> <small>Veterinary</small></a></h4>
          <p>has years of experience treating serious conditions and offering regular pet wellness care.</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div><!-- end team_member -->


      </div><!-- row -->
    </div><!-- end container -->
  </section><!-- end section -->



  <%= render 'pages/index partials/footer' %>
  <!-- end footer -->

  <%= render 'pages/index partials/copyright' %>
  <!-- end section -->
</div><!-- end wrapper -->






</body><!-- Mirrored from templatevisual.com/demo/petvet/vets.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:21:42 GMT --></html>