<html style="" class=" js no-touch" lang="en"><!--<![endif]--><!-- Mirrored from templatevisual.com/demo/petvet/vets.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:21:37 GMT -->

<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
<!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('logo.png', alt: '', class: 'loader-site spinner') %>
  </div>
</div>

<div id="wrapper">
  <%= render 'pages/index partials/topbar' %>

  <%= render 'pages/index partials/header' %>

  <section class="section banner p2" >

  </section><!-- end section -->

  <div class="page-title grey">
    <div class="container">
      <div class="title-area pull-left">
        <h2>Our Veterinarians <small>Listed all our awesome Veterinarians</small></h2>
        <div class="bread">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Veterinarians</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
      <div class="search pull-right">
        <form>
          <div class="input-group">
            <input class="form-control" name="s" type="search" placeholder=" Search... ">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->

  <section class="section white">
    <div class="container">
      <div class="row module-wrapper text-center">
        <div class="col-md-3 col-sm-3 team-member">
          <div class="entry">
<!--            <img class="img-responsive" src="upload/vet_01.png" alt="">-->
            <%= image_tag('upload/vet_01.png', alt: '', class: 'img-responsive') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div><!-- end team_member -->

        <div class="col-md-3 col-sm-3 team-member">
          <div class="entry">
<!--            <img class="img-responsive" src="upload/vet_02.png" alt="">-->
            <%= image_tag('upload/vet_02.png', alt: '', class: 'img-responsive') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div><!-- end team_member -->

        <div class="col-md-3 col-sm-3 team-member">
          <div class="entry">
<!--            <img class="img-responsive" src="upload/vet_03.png" alt="">-->
            <%= image_tag('upload/vet_03.png', alt: '', class: 'img-responsive') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div><!-- end team_member -->

        <div class="col-md-3 col-sm-3 team-member">
          <div class="entry">
<!--            <img class="img-responsive" src="upload/vet_04.png" alt="">-->
            <%= image_tag('upload/vet_04.png', alt: '', class: 'img-responsive') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div><!-- end team_member -->
      </div><!-- row -->
    </div><!-- end container -->
  </section><!-- end section -->

  <section class="section dark">
    <div class="container">
      <div id="owl-team" class="owl-custom text-center owl-carousel owl-theme owl-loaded">
        <!-- end team_member -->

        <!-- end team_member -->

        <!-- end team_member -->

        <!-- end team_member -->
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1462.5px, 0px, 0px); transition: all 0.25s ease 0s; width: 3510px;"><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
            <%= image_tag('upload/team_circle_01.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
            <%= image_tag('upload/team_circle_02.png', alt: '', class: 'img-responsive img-circle') %>

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
            <%= image_tag('upload/team_circle_03.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
            <%= image_tag('upload/team_circle_04.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
            <%= image_tag('upload/team_circle_01.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
            <%= image_tag('upload/team_circle_02.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
            <%= image_tag('upload/team_circle_03.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
            <%= image_tag('upload/team_circle_04.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned active" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_01.png" alt="">-->
            <%= image_tag('upload/team_circle_01.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_02.png" alt="">-->
            <%= image_tag('upload/team_circle_02.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Jessica DEO <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_03.png" alt="">-->
            <%= image_tag('upload/team_circle_03.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Linda MARTIN <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="owl-featured team-member">
          <div class="entry">
<!--            <img class="img-responsive img-circle" src="upload/team_circle_04.png" alt="">-->
            <%=image_tag('upload/team_circle_04.png', alt: '', class: 'img-responsive img-circle') %>
            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
              </div>
            </div><!-- end magnifier -->
          </div><!-- end entry -->
          <h4><a href="team-single.html"> Adrian STUFA <span>|</span> <small>Veterinary</small></a></h4>
          <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
          <a href="team-single.html" class="readmore">Read more</a>
        </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="fa fa-angle-left"></i></div><div class="owl-next" style=""><i class="fa fa-angle-right"></i></div></div><div style="display: none;" class="owl-dots"></div></div></div><!-- row -->
    </div><!-- end container -->
  </section><!-- end section -->

  <section class="section grey">
    <div class="container">
      <div class="row module-wrapper text-left">
        <div class="col-md-4 col-sm-4">
          <div class="team-member team-square">
            <div class="entry">
<!--              <img class="img-responsive" src="upload/team_circle_01.png" alt="">-->
              <%= image_tag('upload/team_circle_01.png', alt: '', class: 'img-responsive') %>
              <div class="magnifier">
                <div class="buttons">
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                </div>
              </div><!-- end magnifier -->
            </div><!-- end entry -->
            <h4><a href="team-single.html"> Amanda Jessi <span>|</span> <small>Veterinary</small></a></h4>
            <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
            <a href="team-single.html" class="readmore">Read more</a>
          </div>
        </div><!-- end team_member -->

        <div class="col-md-4 col-sm-4">
          <div class="team-member team-square">
            <div class="entry">
<!--              <img class="img-responsive" src="upload/team_circle_02.png" alt="">-->
              <%= image_tag('upload/team_circle_02.png', alt: '', class: 'img-responsive') %>
              <div class="magnifier">
                <div class="buttons">
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                </div>
              </div><!-- end magnifier -->
            </div><!-- end entry -->
            <h4><a href="team-single.html"> Sarah GODDNES <span>|</span> <small>Veterinary</small></a></h4>
            <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
            <a href="team-single.html" class="readmore">Read more</a>
          </div>
        </div><!-- end team_member -->

        <div class="col-md-4 col-sm-4">
          <div class="team-member team-square">
            <div class="entry">
<!--              <img class="img-responsive" src="upload/team_circle_03.png" alt="">-->
              <%= image_tag('upload/team_circle_03.png', alt: '', class: 'img-responsive') %>
              <div class="magnifier">
                <div class="buttons">
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                  <a class="st" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                </div>
              </div><!-- end magnifier -->
            </div><!-- end entry -->
            <h4><a href="team-single.html"> Jenny DOE <span>|</span> <small>Veterinary</small></a></h4>
            <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
            <a href="team-single.html" class="readmore">Read more</a>
          </div>
        </div><!-- end team_member -->
      </div><!-- row -->
    </div><!-- end container -->
  </section><!-- end section -->

  <%= render 'pages/index partials/footer' %>
  <!-- end footer -->

  <%= render 'pages/index partials/copyright' %>
  <!-- end section -->
</div><!-- end wrapper -->






</body><!-- Mirrored from templatevisual.com/demo/petvet/vets.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:21:42 GMT --></html>