<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
    <!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('load.png', alt: "", class: "loader-site spinner") %>
  </div>
</div>

<div id="wrapper">
  <div class="topbar clearfix">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-6 text-left">
          <p>
            <!--            <strong>Call us:</strong> +90 543 123 45 67 &nbsp;&nbsp;-->
            <!--            <strong>Email:</strong> <a href="mailto:info@yoursite.com">info@yoursite.com</a>-->
          </p>
        </div><!-- end left -->
        <div class="col-md-6 text-right">
          <div class="social">
            <a><%= link_to 'https://www.facebook.com/PETMEDx ', title: 'Facebook' do %><i class="fa fa-facebook"></i>
              <% end %>
            </a>
            <a><%= link_to 'https://www.twitter.com ', title: 'Twitter' do %><i class="fa fa-twitter"></i>
              <% end %>
            </a>
            <a><%= link_to 'https://www.youtube.com/ ', title: 'Youtube' do %><i class="fa fa-youtube"></i>
              <% end %>
            </a>
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
          </div><!-- end social -->
        </div><!-- end left -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end topbar -->

  <%= render 'pages/index partials/header' %>

  <div class="center-block entry-main">
    <header class="entry-header">
      <h1 class="entry-title">Our Services</h1>
    </header>
    <div class="center-block entry-content">
      <ol><li><h1>Internal Medicine:</h1></li></ol>
      <p>We are here to provide you a best clinical therapy for your animals. The treatment protocols we adopted for the treatment of animals is internationally approved and recommended. The severe infections even tumors are tried to resolve without surgeries and chemotherapies to low the economical pressure on the pet owners. We first time in history of animal’s heath using antagonism of different antibiotics, high class fluid therapy and imported vaccinations. A well managed pharmacy and examination room is developed in GVHs to cover the problems in internal medicine.</p>
      <ol start="2"><li><h2>Surgery:</h2></li></ol>
      <p>Treatments and problems regarding surgery only available in General Veterinary Hospital’s head office. Well developed Operation Theater and Advanced Surgical Treatment facilities are available. The anesthesia and pre-operative forms are available before going to any major and minor surgeries. We tried our level best to maintain highly hygiene conditions in operation theatre. We believe in simplifying the complex issues of surgeries. Highly qualified and certified surgeons are also available to deal with C-section and birth difficulty problems of female animals.</p>
      <ol start="3"><li><h1>Food &amp; Nutrition:</h1></li></ol>
      <p>Nutritional tips are available not for animals but also for the humans. These tips are approved by Famous Animal Nutritionist of Pakistan. We also recommend or provide high class and nutritive feed to dogs, cats, birds, sheep, goat, cattle, buffalo and horses. We have different contracts with national and international feed manufacturer. So you don’t have to worry about the nutrition of your animals. We also have expert animal nutritionists to help you about the diet on consultancy basis.</p>
      <ol start="4"><li><h1>Pet’s Care Area:</h1></li></ol><p>Marvelous, economical and quality suggestions and tips for your pets regarding grooming, nutritional, clinical issues. Pets grooming facility is also available.</p>
      <ol start="5"><li><h1>Microbiology/Pathology Diagnostic Lab:</h1></li></ol>
      <p>For the Confirmatory Diagnosis of your animal and for the best treatment we have well developed labs. Famous veterinary pathologists and microbiologists are available for different postmortems and pathological diagnostic procedures. Milk testing Lab maintained under the supervision of Dr. Zahid Afzal for General Dairies and Milk Products also open for the common farmers and other customers.</p>
      <ol start="6"><li><h1>Pets Training:</h1></li></ol>
      <p>Pakistan’s best professional trainers of dogs and cats are available on demand, monthly and weekly packages are available to facilitate the pet owners. Basic obedience, hunting, guarding, sniffing and play trainings are available. We believe in quality service.</p>
      <ol start="7"><li><h1>Consultants:</h1></li></ol>
      <p>First time in the history of Pakistan we have a team of famous and qualified consultants of each department of veterinary profession. The consultants of following departments are available on demand</p>
      <ul>
        <li>Surgery</li>
        <li>Medicine</li>
        <li>Pathology</li>
        <li>Parasitology</li>
        <li>Gynecology</li>
        <li>Equine Health</li>
        <li>Poultry management</li>
        <li>Exotic animals</li>
        <li>Livestock management</li>
        <li>Dairy Technology</li>
        <li>Physiology</li><li>Breeding and Genetics</li><li>Microbiology</li><li>Livestock Business development</li><li>Food Quality Control</li></ul>
      <ol start="8"><li>
        <h1>Boarding and Indoor Facility:</h1>
      </li>
      </ol>
      <p>We are now able to provide excellence service of boarding to our clients. If you are going outdoor for vacations and you are worry about your pet and his/her feed and care then you doesn’t need to worry about this, we are here. Now you can leave your animals to our internationally maintained boarding facility located at Mughalpura Lahore. The Indoor facility for all types of animals is available with permanent nursing staff which is qualified to take care of ill admitted animals. Terms and conditions applied, for details of term and conditions you can visit our page of term and conditions.</p><ol start="9"><li><h1>Pet Shop:</h1></li></ol><p>Now you can get anything regarding your pet and animals under one roof. Pet shop includes following:</p>
      <ul>
        <li>Sale &amp; Purchase of Cats</li>
        <li>Sale &amp; Purchase of Dogs</li>
        <li>Sale &amp; Purchase of Birds (All types)</li>
        <li>Pet house ( Wooden &amp; Foam)</li>
        <li>Pet beds</li>
        <li>Pet accessories</li>
        <li>Pet toys</li>
        <li>Cat Food ( Jelly and Biscuits)</li>
        <li>Dog Food (Biscuits and Jelly)</li>
        <li>Supplements</li>
        <li>Chains, leashes, collars (Dogs and Cats)</li>
        <li>Cage (Poultry and Fancy Birds)</li>
        <li>Drinkers, Feeders and Food Bowls (Birds, Cats and Dogs)</li>
      </ul>
    </div>
  </div>





</div><!-- end wrapper -->
</body>