
<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
    <!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('load.png', alt: "", class: "loader-site spinner") %>
  </div>
</div>

<div id="wrapper">
  <div class="topbar clearfix">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-6 text-left">
          <p>
            <!--            <strong>Call us:</strong> +90 543 123 45 67 &nbsp;&nbsp;-->
            <!--            <strong>Email:</strong> <a href="mailto:info@yoursite.com">info@yoursite.com</a>-->
          </p>
        </div><!-- end left -->
        <div class="col-md-6 text-right">
          <div class="social">
            <a><%= link_to 'https://www.facebook.com/PETMEDx ', title: 'Facebook' do %><i class="fa fa-facebook"></i>
              <% end %>
            </a>
            <a><%= link_to 'https://www.twitter.com ', title: 'Twitter' do %><i class="fa fa-twitter"></i>
              <% end %>
            </a>
            <a><%= link_to 'https://www.youtube.com/ ', title: 'Youtube' do %><i class="fa fa-youtube"></i>
              <% end %>
            </a>
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>-->
            <!--            <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
          </div><!-- end social -->
        </div><!-- end left -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end topbar -->

  <%= render 'pages/index partials/header' %>

  <div class="entry-main">
    <header class="entry-header">
      <h1 class="entry-title">Pet Grooming</h1>
    </header>
    <div class="entry-content">
      <p style="text-align: justify;">
        <!--    <img class="size-medium wp-image-65 alignleft" src="http://www.gvhospitals.com/wp-content/uploads/2016/10/General-Veterinary-Hospital-Lahore-Animal-Surgery-300x221.jpg" alt="general-veterinary-hospital-lahore-animal-surgery" width="300" height="221" srcset="http://www.gvhospitals.com/wp-content/uploads/2016/10/General-Veterinary-Hospital-Lahore-Animal-Surgery-300x221.jpg 300w, http://www.gvhospitals.com/wp-content/uploads/2016/10/General-Veterinary-Hospital-Lahore-Animal-Surgery.jpg 476w" sizes="(max-width: 300px) 100vw, 300px">-->
        <%= image_tag('petgrooming.jpg',  class: 'wp-image-73 alignleft ', width: 250 ,height: 184 ) %>
        Having a regular grooming schedule for your pets is an important aspect of pet care, no matter how short or long your pup’s or kitty’s coat may be. While pets may groom themselves by licking their coats or pulling twigs or debris out of their fur, there are still many ways that we can help them look their best and be comfortable. Grooming your pets is more than making them look adorably clean and spruced up, it’s also about monitoring your pet’s health and skin condition. A spa package can be created if your pet has special needs. Whether it’s dog grooming or cat grooming, all guests will be given the personalized, professional care they need.

        We have highly experienced pet groomers at each location that care for your pets. The Animal Keeper encourages continuing education, and provides such opportunities by allowing grooming staff to work with a very accomplished master groomer to sharpen skills and grow experience.

        Pet grooming appointments book up fast, so we recommend booking grooming appointments in advance. The price for all pet-grooming services varies and is dependent on the breed, coat condition, skin condition, matting, style of cut, and whether or not the dog has an undercoat. Prior to pet grooming, a groomer will determine final pricing and evaluate each pet.
    </div>
  </div>





</div><!-- end wrapper -->
</body>