<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
<!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('load.png', alt: '', class: 'loader-site spinner') %>
  </div>
</div>

<div id="wrapper">
  <%= render 'pages/index partials/topbar' %>

  <%= render 'pages/index partials/header' %>


  <section class="section banner p1" >

  </section><!-- end section -->

  <div class="page-title grey">
    <div class="container">
      <div class="title-area pull-left">
        <h2>Appointment Form <small>Get a premium appointment now!</small></h2>
        <div class="bread">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Appointment Form</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
      <div class="search pull-right">
        <form>
          <div class="input-group">
            <input class="form-control" name="s" type="search" placeholder=" Search... ">
            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->

  <%= render 'appointments/form' %>
  <!--  form section-->

  <%= render 'appointments/shared/team_carousel' %>
  <!-- end section -->

  <%= render 'pages/index partials/appointment_section' %>
  <!-- end section -->

  <%= render 'pages/index partials/footer' %>
  <!-- end footer -->

  <%= render 'pages/index partials/copyright' %>
  <!-- end section -->
</div><!-- end wrapper -->

    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    </div>
</body>
