<html style="" class=" js no-touch" lang="en"><!--<![endif]--><!-- Mirrored from templatevisual.com/demo/petvet/appointment.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:23:21 GMT -->




<body style="overflow: visible;">

<div id="loader" style="display: none;">
  <div class="loader-container">
<!--    <img src="images/load.png" alt="" class="loader-site spinner">-->
    <%= image_tag('load.png', alt: '', class: 'loader-site spinner') %>
  </div>
</div>

<div id="wrapper">
  <%= render 'pages/index partials/topbar' %>

  <%= render 'pages/index partials/header' %>


  <section class="section banner p1" >

  </section><!-- end section -->

  <div class="page-title grey">
    <div class="container">
      <div class="title-area pull-left">
        <h2>Appointment Form <small>Get a premium appointment now!</small></h2>
        <div class="bread">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Appointment Form</li>
          </ol>
        </div><!-- end bread -->
      </div><!-- /.pull-right -->
      <div class="search pull-right">
        <form>
          <div class="input-group">
            <input class="form-control" name="s" type="search" placeholder=" Search... ">
            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.pull-right -->
    </div>
  </div><!-- end page-title -->

  <section class="section white">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <div class="appoform-wrapper">
            <form method="post">
              <header class="form-header">
                <h3>Appointment Form</h3>
              </header>
              <div class="post-body-form text-center">
                <p>In order to provide better service to you, PetVet Veterinary Clinic<br>
                  It is working with the appointment system. Please fill in the following form completely.</p>
              </div>
              <fieldset class="row-fluid appoform">
                <div class="col-md-6">
                  <label class="sr-only">Appointment time</label>
                  <input id="datepicker" type="text" placeholder="Appointment time" class="form-control hasDatepicker">
                </div>
                <div class="col-md-6">
                  <label class="sr-only">Your name</label>
                  <input type="text" placeholder="Your full name *" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="sr-only">Phone number</label>
                  <input type="text" placeholder="Phone number *" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="sr-only">Email address</label>
                  <input type="email" placeholder="Email address *" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="sr-only">Select Vet</label>
                  <select class="selectpicker bs-select-hidden" data-style="btn-white">
                    <option value="12">-- Select Vet --</option>
                    <option value="amanda">Vet : Amanda JOE</option>
                    <option value="mark">Vet : Mark DOE</option>
                  </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-white" data-toggle="dropdown" title="-- Select Vet --"><span class="filter-option pull-left">-- Select Vet --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">-- Select Vet --</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Vet : Amanda JOE</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Vet : Mark DOE</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                </div>
                <div class="col-md-6">
                  <label class="sr-only">Select Service</label>
                  <select class="selectpicker bs-select-hidden" data-style="btn-white">
                    <option value="12">-- Select Service --</option>
                    <option value="12">Pet Hotel</option>
                    <option value="13">Pet Barber</option>
                    <option value="15">Pet Clinic</option>
                    <option value="14">Pet Support</option>
                  </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle btn-white" data-toggle="dropdown" title="-- Select Service --"><span class="filter-option pull-left">-- Select Service --</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">-- Select Service --</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pet Hotel</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pet Barber</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pet Clinic</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">Pet Support</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                </div>
                <div class="col-md-12">
										<textarea placeholder="Add extra notes" class="form-control">
										</textarea>
                </div>
                <div class="col-md-12">
                  <button type="reset" class="btn btn-primary btn-block btn-lg">Send Now</button>
                </div>
              </fieldset>
            </form>
          </div><!-- end form-container -->
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end section -->

  <%= render 'appointments/shared/team_carousel' %>
  <!-- end section -->

  <%= render 'pages/index partials/appointment_section' %>
  <!-- end section -->

  <%= render 'pages/index partials/footer' %>
  <!-- end footer -->

  <%= render 'pages/index partials/copyright' %>
  <!-- end section -->
</div><!-- end wrapper -->

    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    </div>
</body>
<!-- Mirrored from templatevisual.com/demo/petvet/appointment.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Feb 2022 12:23:22 GMT --></html>