<!DOCTYPE html>
<html style="" class=" js no-touch csstransforms csstransforms3d csstransitions" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title><%="PETMEDx | Veterinarian "  %></title>
    <%= csrf_meta_tags %>

<!--    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'apple-touch-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', size:'57x57' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', size:'72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-76x76.png', rel: 'apple-touch-icon', type: 'image/png', size:'76x76' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', size:'114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', size:'120x120' %>
    <%= favicon_link_tag 'apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', size:'144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', size:'152x152' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--    <link rel="stylesheet" type="text/css" href="css/custom.css">-->
<!--    <script src="js/modernizer.js"></script>-->
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/common.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/util.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/map.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/marker.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/controls.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/onion.js"></script>-->
<!--    <script type="text/javascript" charset="UTF-8" src="http://maps.google.com/maps-api-v3/api/js/48/1b/intl/en_gb/infowindow.js"></script>-->

  </head>

  <body>
      <%= yield %>

<!--      <a href="https://api.whatsapp.com/send?phone=923100448242&text=Hello!%21%20" class="float" target="_blank">-->
<!--        <i class="fa fa-whatsapp my-float"></i>-->
<!--      </a>-->
<!--    <a <%#= link_to nil, "https://api.whatsapp.com/send?phone=923100448242&text=Hello!%21%20" , class: "float", target: "_blank" %>>-->
<!--      <i class="fa fa-whatsapp my-float"></i>-->
<!--    </a>-->

      <%= link_to "https://api.whatsapp.com/send?phone=923100448242&text=Hello!%21%20", class: "float", target: "_blank" do %>
        <i class="fa fa-whatsapp my-float"></i>
      <% end %>
  </body>
</html>
